path{
	fill: none;
	stroke: black;
}

rect{
	fill: black;
}

.bar{
	padding-left: 2px; 
	margin: 2px;
	border-radius: 10px;
}

.legend{
	display: inline-block;
	margin: 1px;
	text-align: center;
	border-radius: 10px;
}

.number{
	display:inline-block;
	border-style:groove;
	border-width:thin;
	width: 70px;
	margin: 1px;

}

.data,.tags {
	display: inline-block;
}

.tag{
	border-style:groove;
	border-width:thin;
	margin: 2px;
}